@import '../variables';
@import '../mixins';


.modal{
  // visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  transition: .3s ease all;
  box-shadow: $color-box-shadow;
  border-radius: 5px;
  background-color: white;
  border: 1px solid $color-border;    
  width: 80%;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  &.active{
    opacity: 1;
    transform: scale(1);
  }
  .modal-header,.modal-footer{
    padding: .5em;
    background: $post-color;
    width: auto;
    font-weight: bold;
    color: rgb(8, 8, 39);
  }
  .modal-body{
    padding: 1em;
    text-align: center;
  }
  .modal-footer{  
    display: flex;
    justify-content: space-between;  
  }
}
.modal-delete{
  max-width: 500px;
}
.modal-edit{
  max-width: 600px;
}

// moda de confirmacion para eliminar
//modal para editar publicacion
.modal{
  .modal-header{
    display: flex;
    justify-content: space-between;
    i{ @extend %grow; }
  }
  .modal-body{
    display: flex;      
    img{
      @include square-size(2em);
    }
    div[contenteditable]{
      max-height: 200px;
      text-align: left;
      overflow: hidden;
      width: 100%;
      outline: none;
    }
  }
 
}

.dropdown{
  position: relative;
  .dropdown-menu{
    z-index: 3;
    position: absolute;
  }
}
