@import '../variables';
@import '../mixins';


.modal{
  // visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  transition: .3s ease all;
  box-shadow: $color-box-shadow;
  border-radius: 5px;
  background-color: white;
  border: 1px solid $color-border;    
  width: 80%;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  &.active{
    opacity: 1;
    transform: scale(1);
  }
  .modal-header,.modal-footer{
    padding: .5em;
    background: $post-color;
    width: auto;
    font-weight: bold;
    color: rgb(8, 8, 39);
  }
  .modal-body{
    padding: 1em;
    text-align: center;
  }
  .modal-footer{  
    display: flex;
    justify-content: flex-end;
    button{
      @extend %ordinary-btn;
    }      
  }
}
.modal-delete{
  max-width: 500px;
}
.modal-edit{
  max-width: 600px;
}
.modal-content{
  height: max-content;
  max-width: 500px;
  align-items: center;
  padding: 2em;
  align-content: space-around;
  .close{
        position: absolute;
        top: -15px;
        right: -15px;
        background: $primary-color;
        height:40px;
        width:40px;
        border-radius: 50%;
        cursor: pointer;
  
  }
  .photo-user-p{
    max-width: 90px;
    height: 90px;
    border-radius: 80px;
    position: relative;
    top: 5px;
    border: 3px solid white;
  }
  #upload-img{
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
  }
  .btn-guardar{
    width: 20%;
    background: $primary-color;
    padding: 10px 15px;
    color: #282e2e;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    &:hover{
      color:$color-hover;
    }
  } 
}

// moda de confirmacion para eliminar
//modal para editar publicacion
.modal{
  .modal-header{
    display: flex;
    justify-content: space-between;
    i{ @extend %grow; }
  }
  .modal-body{
    display: flex;      
    img{
      @include square-size(2em);
    }
    div[contenteditable]{
      // autofocus:"autofocus";
      max-height: 200px;
      text-align: left;
      overflow: hidden;
      width: 100%;
      outline: none;
    }
  }
 
}

.dropdown{
  position: relative;
  .dropdown-menu{
    z-index: 3;
    position: absolute;
  }
}


// .modal.active{
//   opacity: 1;
//   transform: scale(1);
// }