
$wallpaper: url("../../img/wall1.jpg");
$primary-color: #0CA385;
$facebook-color:#3b5998;
$google-color:#db4a39;
$logo-font: 'Courgette', cursive;
$main-font: 'Roboto', sans-serif;
$color-background:  #FAFBFF;
$color-background1:rgb(230, 240, 237);
$color-hover:rgb(10, 184, 149);
$color-hover1:rgb(225, 241, 237);
$color-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
$color-border: rgba(153, 153, 153, 0.300);
$post-color: #F2F2F2;

$jaldi-font: 'Jaldi', sans-serif;
$yantra-font:'Yantramanav', sans-serif;
$monse-font:'Montserrat', sans-serif;


$breakpoint-tablet:768px;
$color-btn-disabled:rgb(110, 240, 214);

%field-form {
  padding: .8em .8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}
.hide{
  display: none;
}


%flex {
  display: flex;
}

.name-user{
  display: block;  
  font-weight: 700;
}

.hidden{
  display: none !important;
}
.show{
  display: block !important;
}
.active {
 visibility: visible !important;
}

.right{
  position: relative;
  right: 0;
} 
.left{
  position: relative;
  left: 0 !important;
} 
.liked{
  color: rgb(235, 68, 68) !important;
}
.flex{
  display: flex !important;
}

.alert{
  border: 1.2px solid rgb(243, 57, 57) !important;
}

.ordinary-btn{
  // font-weight: bold;
  // margin: .2em;
  color: $primary-color;
  background: whitesmoke;
 
}
.main-btn{
  background: $primary-color;
  color: whitesmoke;
}
.btn-n{
  font-weight: bold;
  margin: .2em;
  border: none;
  padding: .5em;
  border-radius: 5px;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}

%grow{
  &:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
}


.ordinary-btn{
  cursor: pointer;
  background: white;
  color:$primary-color;
  border: 1px solid $primary-color;
}



