@import '../variables';

.screen{   
  background-color:$color-background1;  
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
}




@import '../layouts/header';
@import '../layouts/content';
