@import "../variables";
@import "../mixins";


// styles of login, register and email infaces(responsive)


.screen-background{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/red-social-32aa8.appspot.com/o/eco-chat%2Fback1.jpg?alt=media&token=fe7ad64c-0e68-4628-852e-a14228d86534');
  background-size: cover;
  background-repeat: no-repeat;
  @include flex-center();
  width: 100%;
  height: 100%;
  
  .logo-container{
    $logo-size: 30%;
    margin-bottom: 2em;
    text-align: center;
    height: 20%;
    width: 50%;
    .logo{
      width: 60%;
      height: 80%;
    }
    .app-name{
      @include text(1.5em, #fff);
      font-weight: 600;
    }
  }
  .form-container{
    @include flex-center;
    width: 80%;
    padding: .5em 1em;
    height: max-content;
    background: rgba(0, 0, 0, 0.568);
    // background: rgb(250, 248, 248);;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    .form-title { 
      width: 80%;
      max-width: 400px;
      @include text(1.2em, white);
      font-weight: 600;  
    }
    .wellcome-msg{
      @include text(1em, white);
      width: 90%;
    }
    form{
      @include flex-center();
      width: 80%;
      .form-control{        
        width: 100%;
        max-width: 400px;
        position: relative;
        margin-bottom: .8em;
        @include set-icon(".icon-input",rgb(161, 156, 156),1em,left,absolute,1em);
        @include set-icon(".icon-psw",$primary-color,1em,right, absolute,1em);
        .icon-psw:hover{
          color: #e8f0ef;
        }
        input{
          background: #333333;
          color: #e8f0ef;
          @extend %field-form;
          box-sizing: border-box;
          border: none;
          &:hover { 
            border: 1.5px solid rgb(187, 192, 190);
          } 
        }
        small {
          @include text(.8em,white,start,none);
          padding-left: 1em;
        }
      }
    }
    
    .msg-err{
      @include text(12px,white,center, none);
      font-weight: 500;
    }
    button#form-btn{
      @extend %field-form;
      font-weight:bolder ;
      color: #FEFEFE;
      border: 1px none;
      cursor: pointer; 
      background: $primary-color;
      margin-bottom: .8em;
      &:hover{
        background: #e8f0ef;
        color: #333;
        transform: scale(1.01);
      }
    }
    .text-deco{ 
      @include text(.9em,rgb(148, 141, 141));
      a{
        color: #e8f0ef;
        font-weight: 500;
      }
    }
    
    .message-container{
      @include flex-center();
      padding: 1.5em;
      .message-title{  @include text(1.5em, white);}
      .btn-send-email{
        width: auto;
        padding: 1em;
      }
    }
    .social-media-container{
      margin: .5em 0;
      @include social-media-icon('.icon-facebook',$facebook-color);
      @include social-media-icon('.icon-google',$google-color);
    }   
  }
}

@media (min-width: $tablet-width) and (max-width:$desktop-width) {
  .screen-background{
    @include flex-center(row);
    .logo-container{
      width: 50%;
      height: auto;
      .app-name{
        @include text(2.5em, #fff);
        font-weight: 600;
      }
    }
    .form-container{
      border-radius:0;
      height: 100%;
      width: 50%;
    }
  } 
  .message-title{ @include text(2em, white);}
}


@media (min-width: $desktop-width) {
  .screen-background{
    @include flex-center(row);
    .logo-container{
      width: 65%;
      height: auto;
      .app-name{
        @include text(2.5em, #fff);
        font-weight: 600;
      }
    }
    .form-container{
      .form-title{
        font-weight: 600;
      }
      border-radius:0;
      height: 100%;
      width: 35%;
    }
  } 
  .message-title{ @include text(2em, white);}
}


