* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global */

.container {
    width: 100%;
    background: #DFE0E3;
    overflow: hidden;
}

/* mobile first */

main {
    background-image: url(../img/wall1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background: #000; */
    /* opacity: .8; */

    width: 100vw;
    height: 100vh;
}

/* .girl-logo {
    display: none;
} */

.screen-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    /* background: crimson; */
}


.welcome {
    z-index: 1;
    padding-top: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
}

.logo {
    width: 50%;
    margin-left: 25%;
    max-width: 200px;
}

.app-name-text { 
    font-family: 'Aleo', serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFCFC;
}

.holder {
    /* visibility: hidden; */
    padding: 1.5em 0;
    position: relative;
    margin-left: 5%;
    width: 90%;
    /* background: rgba(255, 255, 255, 0.96); */
    background: rgba(247, 243, 243, 0.46);  
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;   
}

.holder p{
    font-size: .8em;
}

div.holder p{
    display: inline-block;
    width: 100%;
    text-align: center;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
form button, 
form input{
    outline: none;
    padding: 1.2rem 0;
    max-width: 500px;
}
form input:hover{
    border: 1.5px solid rgb(53, 230, 194);
  }
  
.form-control{
    position: relative;
    margin-bottom: 1em;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start; 
    max-width: 500px;

}

.form-control small{
    margin-left: .3em;
    display: none;
    color: red;
    font-weight: 400;
    
}
.form-control i{
    position: absolute;
    padding: 1.3em;
    color: #333;
}
i.fa-eye,
i.fa-eye-slash{
    right: .1em;
    color: #0CA385;
}
/* i.fa-eye-slash{
    display: block;
}
i.fa-eye{
    display: none;
} */
.hide{
    display: none;
  }
  
/* .block{
    display: block;
} */
i.fa-exclamation-triangle{
    margin-left: .8em;
    padding:.1em 0;
    font-size: .7em;
    color: red;
    position: relative;
    display: none;
}

.error{
    border: 1.5px solid red;
}
form button, 
form input{
    outline: none;
}
form input:hover{
    border: 1.5px solid rgb(53, 230, 194);
  }
.form-control{
    margin-bottom: 1em;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    
}
.form-control small{
    display: none;
    color: red;
    font-weight: 500;
}

i.error-icon{
    position: relative;
    padding: .2em .5em;
    left: .7em;
}

.error{
    border: 1.5px solid red;
}
form button, 
form input{
    outline: none;
}
form input:hover{
    border: 1.5px solid rgb(53, 230, 194);
  }

  .form-control small{
    display: none;
    color: red;
}

.error{
    border: 1.5px solid red;
}

.holder-title {
    margin: 1em 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold; 
    font-size: 1em;
    line-height: 23px;
    color: #172945;
}

.form-btn {
    background: #0CA385;
    color: #FEFEFE;
    border-radius: 30px;
    /* height: 50px; */
    border: 1px none;
    margin-bottom: 15px;
    font-size: 1em;
    width: 90%;
    max-width: 500px;

    
}

input.form-field {
    background: #FFFFFF;
    border: 1.5px solid rgba(153, 153, 153, 0.3);
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 1em;
    width: 100%;
    padding-left: 2.5em;
}

.social-media {
    margin: 1em 0;
    text-align: center;
}
.social-media i{
    font-size: 1.5em;
    color: white;
    padding: .5em;
    border-radius: 1em;
    width: 2em;
    text-align: center;
}
.social-media i.fa-facebook{
    border: 1.2px solid  #3b5998;
    background: white;
    color:  #3b5998;
  }
  .social-media i.fa-facebook:hover{
    transition: all 0.2s ease;
    background:  #3b5998;
    color: white;
  }
  .social-media i.fa-google{
    border: 1.2px solid #db4a39;
    background: white;
    color: #db4a39;
  }
  .social-media i.fa-google:hover{
    transition: all 0.2s ease;
    background:  #db4a39;
    color: white;
  }

.aid-text {
    font-family: Roboto;
    font-style: normal;
    font-size: 0.7em;
    color: #172945;
}

@media only screen and (min-width: 768px) {


    .screen-background {
        /* background: rgba(112, 107, 107, 0.46); */
        background:transparent;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    
    }

    .girl-logo {
        display: block;
        max-width: 500px;
    }
  
    .welcome{    
        width: 50%;
        margin-bottom: 0;
        padding: 15% 0;
        text-align: center;
    }
    .logo{
        width: 50%;
        margin: 0;
        max-width: 400px;

    }
    .app-name-text{
        font-size: 3em;
    }

    .holder{
        width: 50%;
        margin: 0;
        border-radius: 0;
        background: rgba(247, 243, 243, 0.46);
        /* background: black; */
        /* opacity: 1; */
        padding-top: 15%;
    }
    .holder p{
        font-size: 1em;
        color: rgb(54, 53, 52);
    }
   

    .holder-title{        
        font: outline;
        font-size: 1.5em;
        color: rgb(66, 63, 63);
    }

}

