.screen-background .form-container button#form-btn, .screen-background .form-container form .form-control input {
  padding: 0.8em 0.8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}

.hide {
  display: none;
}

.posts-container .post .post-comments .comments-container .comment-created, .posts-container .post .post-comments .create-comment-container .text-area-comment {
  display: flex;
}

.name-user {
  display: block;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  visibility: visible !important;
}

.right {
  position: relative;
  right: 0;
}

.left {
  position: relative;
  left: 0 !important;
}

.liked {
  color: #eb4444 !important;
}

.flex {
  display: flex !important;
}

.alert {
  border: 1.2px solid #f33939 !important;
}

.ordinary-btn {
  color: #0CA385;
  background: whitesmoke;
}

.main-btn {
  background: #0CA385;
  color: whitesmoke;
}

.btn-n {
  font-weight: bold;
  margin: 0.2em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}
.btn-n:hover {
  cursor: pointer;
}

.modal .modal-header i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ordinary-btn {
  cursor: pointer;
  background: white;
  color: #0CA385;
  border: 1px solid #0CA385;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

section#container {
  display: flex;
  background-color: #e6f0ed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
section#container::-webkit-scrollbar {
  display: none;
}

.bg-modal {
  position: absolute;
  top: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}

input, button, textarea {
  outline: none;
}

.cursor {
  cursor: pointer;
}

.screen-background .form-container button#form-btn, .screen-background .form-container form .form-control input {
  padding: 0.8em 0.8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}

.hide {
  display: none;
}

.posts-container .post .post-comments .comments-container .comment-created, .posts-container .post .post-comments .create-comment-container .text-area-comment {
  display: flex;
}

.name-user {
  display: block;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  visibility: visible !important;
}

.right {
  position: relative;
  right: 0;
}

.left {
  position: relative;
  left: 0 !important;
}

.liked {
  color: #eb4444 !important;
}

.flex {
  display: flex !important;
}

.alert {
  border: 1.2px solid #f33939 !important;
}

.ordinary-btn {
  color: #0CA385;
  background: whitesmoke;
}

.main-btn {
  background: #0CA385;
  color: whitesmoke;
}

.btn-n {
  font-weight: bold;
  margin: 0.2em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}
.btn-n:hover {
  cursor: pointer;
}

.modal .modal-header i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ordinary-btn {
  cursor: pointer;
  background: white;
  color: #0CA385;
  border: 1px solid #0CA385;
}

.screen {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  min-height: 100%;
}

.screen-background .form-container button#form-btn, .screen-background .form-container form .form-control input {
  padding: 0.8em 0.8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}

.hide {
  display: none;
}

.posts-container .post .post-comments .comments-container .comment-created, .posts-container .post .post-comments .create-comment-container .text-area-comment {
  display: flex;
}

.name-user {
  display: block;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  visibility: visible !important;
}

.right {
  position: relative;
  right: 0;
}

.left {
  position: relative;
  left: 0 !important;
}

.liked {
  color: #eb4444 !important;
}

.flex {
  display: flex !important;
}

.alert {
  border: 1.2px solid #f33939 !important;
}

.ordinary-btn {
  color: #0CA385;
  background: whitesmoke;
}

.main-btn {
  background: #0CA385;
  color: whitesmoke;
}

.btn-n {
  font-weight: bold;
  margin: 0.2em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}
.btn-n:hover {
  cursor: pointer;
}

.modal .modal-header i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ordinary-btn {
  cursor: pointer;
  background: white;
  color: #0CA385;
  border: 1px solid #0CA385;
}

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  background: #0CA385;
}
header nav {
  min-width: 120px;
}
header nav .nav-bar {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header nav .nav-bar .menu-icon {
  border: none;
  position: absolute;
  padding: 0.2em;
  font-size: 2em;
  color: white;
  left: 0;
}
header nav .nav-bar .menu-icon:hover {
  cursor: pointer;
}
header nav .nav-bar img.logo {
  width: 2em;
  padding: 0.3em;
}
header nav ul {
  list-style: none;
  display: none;
}
header nav ul .option {
  padding: 0.5em;
}
header nav ul .option a {
  text-transform: capitalize;
  padding: 0.5em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  justify-content: baseline;
}
header nav ul .option a:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(10, 156, 127, 0.829);
}
header nav ul .option a .user-photo {
  width: 1.5em;
  height: 1.5em;
  border-radius: 30px;
  margin-right: 0.3em;
}
header nav ul .option a i {
  margin-right: 10px;
}
header nav ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  header {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }
  header nav {
    background: #0CA385;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header nav .nav-bar {
    width: 5%;
    display: inline-block;
    border-bottom: none;
  }
  header nav .nav-bar .menu-icon {
    display: none;
  }
  header nav .nav-bar img.logo {
    padding: 0.5em;
  }
  header nav ul {
    display: block;
    overflow: hidden;
  }
  header nav ul li {
    float: left;
    border-bottom: none;
  }
  header nav ul li a {
    background: none;
  }
}
.screen-background .form-container button#form-btn, .screen-background .form-container form .form-control input {
  padding: 0.8em 0.8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}

.hide {
  display: none;
}

.posts-container .post .post-comments .comments-container .comment-created, .posts-container .post .post-comments .create-comment-container .text-area-comment {
  display: flex;
}

.name-user {
  display: block;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  visibility: visible !important;
}

.right {
  position: relative;
  right: 0;
}

.left {
  position: relative;
  left: 0 !important;
}

.liked {
  color: #eb4444 !important;
}

.flex {
  display: flex !important;
}

.alert {
  border: 1.2px solid #f33939 !important;
}

.ordinary-btn {
  color: #0CA385;
  background: whitesmoke;
}

.main-btn {
  background: #0CA385;
  color: whitesmoke;
}

.btn-n {
  font-weight: bold;
  margin: 0.2em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}
.btn-n:hover {
  cursor: pointer;
}

.modal .modal-header i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ordinary-btn {
  cursor: pointer;
  background: white;
  color: #0CA385;
  border: 1px solid #0CA385;
}

.post-user-photo {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  border-radius: 50px;
  display: block;
}

.enabled {
  background-color: #0CA385 !important;
  cursor: pointer;
}

.posts-container .post .post-header div.name-date-post span {
  text-transform: capitalize;
  color: #0CA385;
  font-weight: bolder;
}

.dropdown {
  position: relative;
  font-size: 1em;
}
.dropdown .select, .dropdown ul > li {
  width: max-content;
  cursor: pointer;
}
.dropdown ul {
  z-index: 1;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  display: none;
  list-style: none;
  border-radius: 10px;
  width: max-content;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.479);
  border: 1px solid rgba(0, 0, 0, 0.267);
}
.dropdown ul li {
  margin: 0;
  padding: 0.5em 1em;
}
.dropdown ul li:hover {
  color: #137a81;
}

.posts-container {
  display: flex;
  flex-direction: column-reverse;
}
.posts-container .post {
  margin: 0.5em 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 5px;
}
.posts-container .post .border {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.posts-container .post .post-header {
  border-radius: 5px 5px 0;
  background: #F2F2F2;
  display: flex;
  align-items: center;
}
.posts-container .post .post-header > * {
  margin: 0.5em;
}
.posts-container .post .post-header img.icon-photo-user {
  width: 2.5em;
  height: 2.5em;
  border-radius: 30px;
}
.posts-container .post .post-header div.name-date-post {
  width: 100%;
  flex-direction: column;
}
.posts-container .post .post-header div.name-date-post div {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.posts-container .post .post-header div.name-date-post div .dropdown {
  position: relative;
  display: inline-block;
}
.posts-container .post .post-header div.name-date-post div .dropdown .dropdown-menu {
  position: absolute;
}
.posts-container .post .post-header div.name-date-post div .dropdown i {
  color: #666464;
  transition: all 200ms;
  will-change: transform;
}
.posts-container .post .post-header div.name-date-post div .dropdown i:hover {
  color: #333;
  transform: scale(1.2);
  cursor: pointer;
}
.posts-container .post .post-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.posts-container .post .post-body .text-post-value {
  width: 100%;
  padding: 0.5em;
}
.posts-container .post .post-body img {
  border: none;
  border-radius: 0;
  width: 90%;
  height: 90%;
}
.posts-container .post .post-likes {
  display: flex;
  height: max-content;
  position: relative;
}
.posts-container .post .post-likes div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
  width: 50%;
  font-family: "Jaldi", sans-serif !important;
  padding: 0.5em;
  font-weight: 600;
  font-size: 0.8em;
  color: #8d9292;
}
.posts-container .post .post-likes div i {
  font-size: 1.5em !important;
  margin-right: 0.1em;
}
.posts-container .post .post-likes div:hover {
  cursor: pointer;
  background-color: #f1f5f6;
}
.posts-container .post .post-comments {
  transition: all 0.9s;
  display: none;
}
.posts-container .post .post-comments .create-comment-container {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}
.posts-container .post .post-comments .create-comment-container .text-area-comment {
  position: relative;
  border: 1.5px solid rgba(153, 153, 153, 0.3);
  border-radius: 20px;
  width: calc(100% - 80px);
  padding: 0.3em 0 0.3em 1em;
  max-height: 100px;
}
.posts-container .post .post-comments .create-comment-container .text-area-comment .input-comment {
  outline: none;
  overflow: hidden;
  font-size: small;
  width: 90%;
}
.posts-container .post .post-comments .create-comment-container .text-area-comment .input-comment:empty:before {
  content: attr(data-placeholder);
}
.posts-container .post .post-comments .create-comment-container .fa-paper-plane {
  color: rgba(153, 153, 153, 0.3);
  font-size: 1.5em;
  padding: 0.5em 0.1em;
}
.posts-container .post .post-comments .create-comment-container .send-comment {
  color: #0CA385;
  transition: all 300ms;
  will-change: transform;
}
.posts-container .post .post-comments .create-comment-container .send-comment:hover {
  transform: rotate(45deg);
  cursor: pointer;
}
.posts-container .post .post-comments .comments-container .comment-created {
  font-size: small;
  padding: 0.5em;
}
.posts-container .post .post-comments .comments-container .comment-created .comment {
  max-width: calc(100% - 45px);
  background: #f1f5f6;
  padding: 1em;
  border-radius: 0 20px 20px 20px;
  word-wrap: break-word;
}
.posts-container .post .post-comments .comments-container .comment-created .comment strong {
  text-transform: capitalize;
  color: #0CA385;
}
.posts-container .post .post-comments .comments-container .comment-created .comment .comment-text {
  outline: none;
}
.posts-container .post .post-comments .comments-container .comment-created i.setting-post {
  color: #666464;
}
.posts-container .post .post-comments .comments-container .comment-created i.setting-post:hover {
  color: #333;
  transform: scale(1.5);
  cursor: pointer;
}
.posts-container .post .post-comments .comments-container .comment-created .bx-x, .posts-container .post .post-comments .comments-container .comment-created .bx-check {
  font-size: 1.5em;
  border-radius: 30px;
  height: max-content;
  font-weight: 600;
  color: #a7a1a1;
  transform: scale(0.9);
}
.posts-container .post .post-comments .comments-container .comment-created .bx-x:hover, .posts-container .post .post-comments .comments-container .comment-created .bx-check:hover {
  transform: scale(1);
  cursor: pointer;
}

section.content {
  padding: 60px 0.5em 0;
  width: 98%;
  height: max-content;
}
section.content section {
  margin: 0.5em 0;
}
section.content .create-post-container {
  font-family: "Jaldi", sans-serif;
  color: #504e4e;
  background: white;
  font-weight: 500;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 1em 0 0;
  border-radius: 5px;
  border: 1px solid rgba(153, 153, 153, 0.3);
  width: 100%;
}
section.content .create-post-container span {
  font-weight: bolder;
  font-size: medium;
  margin: 0.5em;
}
section.content .create-post-container .post-content {
  border-top: 1px solid rgba(153, 153, 153, 0.3);
  padding: 0.5em;
  background: white;
}
section.content .create-post-container .post-content img {
  font-size: 1.5em;
}
section.content .create-post-container .post-content .text-area {
  outline: none;
  overflow-y: hidden;
  padding: 0.5em;
  font-size: smaller;
  width: 80%;
  height: 70px;
}
section.content .create-post-container .post-content .text-area:empty:before {
  content: attr(data-placeholder);
}
section.content .create-post-container .post-content .photo-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
section.content .create-post-container .btn-container {
  justify-content: space-between;
  border-top: 1px solid rgba(153, 153, 153, 0.3);
  display: flex;
  padding: 0.5em;
}
section.content .create-post-container .btn-container .family-btn {
  display: flex;
}
section.content .create-post-container .btn-container .btn {
  display: flex;
  align-items: center;
  background: #ecf3f1;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  margin: 0 0.2em;
}
section.content .create-post-container .btn-container .btn i {
  font-size: 1.2em;
}
section.content .create-post-container .btn-container .opts:hover {
  font-weight: 200;
  color: #333;
  cursor: pointer;
  background-color: #e1f1ed;
}
section.content .create-post-container .btn-container .post-btn {
  position: relative;
  right: 0;
  border: none;
  font-weight: bold;
  background: rgba(12, 163, 133, 0.514);
  color: white;
}

.div-img {
  cursor: pointer;
  width: max-content;
  height: max-content;
  position: relative;
  margin-right: 0.3em;
}
.div-img:hover {
  background-color: rgba(27, 26, 26, 0.137);
}
.div-img:hover i {
  color: #707472;
  font-weight: bolder;
}
.div-img i {
  cursor: pointer;
  padding: 0.2em;
  position: absolute;
  top: auto;
  right: 0;
  color: transparent;
}
.div-img .img-post {
  width: 100px;
  height: 100px;
}

.select-box {
  position: relative;
}
.select-box .select-button {
  display: flex;
}
.select-box .select-button div {
  padding: 0 0.3em;
}
.select-box .options {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 0.2em;
  z-index: 1;
  position: absolute;
  display: none;
  background: white;
  border-radius: 5px;
}
.select-box .options .option {
  padding: 0.5em;
}
.select-box .options .option:hover {
  background: #0CA385;
  color: white;
  border-radius: 3px;
}

.my-self {
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.my-self .photos-user {
  position: relative;
  width: 100%;
  height: max-content;
  margin-bottom: 50px;
}
.my-self .photos-user:hover i {
  opacity: 1;
}
.my-self .photos-user .camera-icon {
  margin: 0.5em;
  color: white;
  padding: 0.5em;
  border-radius: 30px;
  position: absolute;
  background: rgba(51, 51, 51, 0.747);
  opacity: 0;
  transition: 0.3s ease all;
}
.my-self .photos-user .camera-icon:hover {
  cursor: pointer;
}
.my-self .photos-user .user-photo-cover {
  width: 100%;
  height: 200px;
}
.my-self .photos-user #photo-user-container {
  position: absolute;
  top: 150px;
  left: calc(50% - (100px/2));
}
.my-self .photos-user #photo-user-container .photo-user {
  width: 100px;
  height: 100px;
  border-radius: 80px;
  border: 3px solid white;
}
.my-self .photos-user #photo-user-container #update-profile {
  left: calc(40% - (32px/2));
  bottom: 0;
}
.my-self .info-user {
  padding: 1em;
  width: 100%;
  height: max-content;
  text-align: center;
}
.my-self .info-user .name-user {
  font-size: 1.5em;
  text-transform: capitalize;
  color: teal;
}
.my-self .info-user .fa-envelope {
  color: #0CA385;
  margin: 0.5em;
}
.my-self .info-user .fa-save, .my-self .info-user .fa-edit {
  font-size: 1em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  section.content {
    width: 80%;
  }
}
@media (min-width: 768px) {
  section.content {
    display: flex;
    justify-content: center;
  }
  section.content section.profile-section {
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    width: 50%;
    height: 100%;
    padding: 0.5em;
  }
  section.content section.posts-section {
    padding: 0 0.5em;
    width: 50%;
    height: max-content;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  section.content {
    width: 60%;
  }
}
.screen-background .form-container button#form-btn, .screen-background .form-container form .form-control input {
  padding: 0.8em 0.8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}

.hide {
  display: none;
}

.posts-container .post .post-comments .create-comment-container .text-area-comment, .posts-container .post .post-comments .comments-container .comment-created {
  display: flex;
}

.name-user {
  display: block;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  visibility: visible !important;
}

.right {
  position: relative;
  right: 0;
}

.left {
  position: relative;
  left: 0 !important;
}

.liked {
  color: #eb4444 !important;
}

.flex {
  display: flex !important;
}

.alert {
  border: 1.2px solid #f33939 !important;
}

.ordinary-btn {
  color: #0CA385;
  background: whitesmoke;
}

.main-btn {
  background: #0CA385;
  color: whitesmoke;
}

.btn-n {
  font-weight: bold;
  margin: 0.2em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}
.btn-n:hover {
  cursor: pointer;
}

.modal .modal-header i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ordinary-btn {
  cursor: pointer;
  background: white;
  color: #0CA385;
  border: 1px solid #0CA385;
}

.screen-background {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/red-social-32aa8.appspot.com/o/eco-chat%2Fback1.jpg?alt=media&token=fe7ad64c-0e68-4628-852e-a14228d86534");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.screen-background .logo-container {
  margin-bottom: 2em;
  text-align: center;
  height: 20%;
  width: 50%;
}
.screen-background .logo-container .logo {
  width: 60%;
  height: 80%;
}
.screen-background .logo-container .app-name {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  margin: 0.5em;
  font-weight: 600;
}
.screen-background .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 0.5em 1em;
  height: max-content;
  background: rgba(0, 0, 0, 0.568);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
.screen-background .form-container .form-title {
  width: 80%;
  max-width: 400px;
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: white;
  margin: 0.5em;
  font-weight: 600;
}
.screen-background .form-container .wellcome-msg {
  display: block;
  text-align: center;
  font-size: 1em;
  color: white;
  margin: 0.5em;
  width: 90%;
}
.screen-background .form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.screen-background .form-container form .form-control {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-bottom: 0.8em;
}
.screen-background .form-container form .form-control .icon-input {
  border: none;
  position: absolute;
  padding: 1em;
  font-size: 1em;
  color: #a19c9c;
  left: 0;
}
.screen-background .form-container form .form-control .icon-psw {
  border: none;
  position: absolute;
  padding: 1em;
  font-size: 1em;
  color: #0CA385;
  right: 0;
}
.screen-background .form-container form .form-control .icon-psw:hover {
  color: #e8f0ef;
}
.screen-background .form-container form .form-control input {
  background: #333333;
  color: #e8f0ef;
  box-sizing: border-box;
  border: none;
}
.screen-background .form-container form .form-control input:hover {
  border: 1.5px solid #bbc0be;
}
.screen-background .form-container form .form-control small {
  display: none;
  text-align: start;
  font-size: 0.8em;
  color: white;
  margin: 0.5em;
  padding-left: 1em;
}
.screen-background .form-container .msg-err {
  display: none;
  text-align: center;
  font-size: 12px;
  color: white;
  margin: 0.5em;
  font-weight: 500;
}
.screen-background .form-container button#form-btn {
  font-weight: bolder;
  color: #FEFEFE;
  border: 1px none;
  cursor: pointer;
  background: #0CA385;
  margin-bottom: 0.8em;
}
.screen-background .form-container button#form-btn:hover {
  background: #e8f0ef;
  color: #333;
  transform: scale(1.01);
}
.screen-background .form-container .text-deco {
  display: block;
  text-align: center;
  font-size: 0.9em;
  color: #948d8d;
  margin: 0.5em;
}
.screen-background .form-container .text-deco a {
  color: #e8f0ef;
  font-weight: 500;
}
.screen-background .form-container .message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}
.screen-background .form-container .message-container .message-title {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin: 0.5em;
}
.screen-background .form-container .message-container .btn-send-email {
  width: auto;
  padding: 1em;
}
.screen-background .form-container .social-media-container {
  margin: 0.5em 0;
}
.screen-background .form-container .social-media-container .icon-facebook {
  font-size: 1.5em;
  color: white;
  background: #3b5998;
  padding: 0.4em 0.1em;
  border-radius: 1.5em;
  width: 2em;
  text-align: center;
  cursor: pointer;
  border: 1.2px solid #3b5998;
}
.screen-background .form-container .social-media-container .icon-facebook:hover {
  transform: scale(1.05);
}
.screen-background .form-container .social-media-container .icon-facebook:hover {
  cursor: pointer;
}
.screen-background .form-container .social-media-container .icon-google {
  font-size: 1.5em;
  color: white;
  background: #db4a39;
  padding: 0.4em 0.1em;
  border-radius: 1.5em;
  width: 2em;
  text-align: center;
  cursor: pointer;
  border: 1.2px solid #db4a39;
}
.screen-background .form-container .social-media-container .icon-google:hover {
  transform: scale(1.05);
}
.screen-background .form-container .social-media-container .icon-google:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .screen-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .screen-background .logo-container {
    width: 50%;
    height: auto;
  }
  .screen-background .logo-container .app-name {
    display: block;
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em;
    font-weight: 600;
  }
  .screen-background .form-container {
    border-radius: 0;
    height: 100%;
    width: 50%;
  }

  .message-title {
    display: block;
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 0.5em;
  }
}
@media (min-width: 1024px) {
  .screen-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .screen-background .logo-container {
    width: 65%;
    height: auto;
  }
  .screen-background .logo-container .app-name {
    display: block;
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em;
    font-weight: 600;
  }
  .screen-background .form-container {
    border-radius: 0;
    height: 100%;
    width: 35%;
  }
  .screen-background .form-container .form-title {
    font-weight: 600;
  }

  .message-title {
    display: block;
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 0.5em;
  }
}
.screen-background .form-container form .form-control input, .screen-background .form-container button#form-btn {
  padding: 0.8em 0.8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}

.hide {
  display: none;
}

.posts-container .post .post-comments .create-comment-container .text-area-comment, .posts-container .post .post-comments .comments-container .comment-created {
  display: flex;
}

.name-user {
  display: block;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  visibility: visible !important;
}

.right {
  position: relative;
  right: 0;
}

.left {
  position: relative;
  left: 0 !important;
}

.liked {
  color: #eb4444 !important;
}

.flex {
  display: flex !important;
}

.alert {
  border: 1.2px solid #f33939 !important;
}

.ordinary-btn {
  color: #0CA385;
  background: whitesmoke;
}

.main-btn {
  background: #0CA385;
  color: whitesmoke;
}

.btn-n {
  font-weight: bold;
  margin: 0.2em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}
.btn-n:hover {
  cursor: pointer;
}

.modal .modal-header i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ordinary-btn {
  cursor: pointer;
  background: white;
  color: #0CA385;
  border: 1px solid #0CA385;
}

.modal {
  opacity: 0;
  transform: scale(0.7);
  transition: 0.3s ease all;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(153, 153, 153, 0.3);
  width: 80%;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.modal.active {
  opacity: 1;
  transform: scale(1);
}
.modal .modal-header, .modal .modal-footer {
  padding: 0.5em;
  background: #F2F2F2;
  width: auto;
  font-weight: bold;
  color: #080827;
}
.modal .modal-body {
  padding: 1em;
  text-align: center;
}
.modal .modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-delete {
  max-width: 500px;
}

.modal-edit {
  max-width: 600px;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
}
.modal .modal-body {
  display: flex;
}
.modal .modal-body img {
  width: 2em;
  height: 2em;
}
.modal .modal-body div[contenteditable] {
  max-height: 200px;
  text-align: left;
  overflow: hidden;
  width: 100%;
  outline: none;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  z-index: 3;
  position: absolute;
}

.screen-background .form-container form .form-control input, .screen-background .form-container button#form-btn {
  padding: 0.8em 0.8em 1em 2.5em;
  width: 100%;
  font-size: 1em;
  max-width: 400px;
  border-radius: 2em;
  outline: none;
}

.hide {
  display: none;
}

.posts-container .post .post-comments .create-comment-container .text-area-comment, .posts-container .post .post-comments .comments-container .comment-created {
  display: flex;
}

.name-user {
  display: block;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  visibility: visible !important;
}

.right {
  position: relative;
  right: 0;
}

.left {
  position: relative;
  left: 0 !important;
}

.liked {
  color: #eb4444 !important;
}

.flex {
  display: flex !important;
}

.alert {
  border: 1.2px solid #f33939 !important;
}

.ordinary-btn {
  color: #0CA385;
  background: whitesmoke;
}

.main-btn {
  background: #0CA385;
  color: whitesmoke;
}

.btn-n {
  font-weight: bold;
  margin: 0.2em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}
.btn-n:hover {
  cursor: pointer;
}

.modal .modal-header i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ordinary-btn {
  cursor: pointer;
  background: white;
  color: #0CA385;
  border: 1px solid #0CA385;
}

.emoji-dropdown {
  position: relative;
  height: max-content;
}
.emoji-dropdown .emoji-icon {
  border-radius: 20px;
  position: relative;
  font-size: 1.5em;
  color: #333;
  padding: 0.2em 0.3em 0;
  width: max-content;
  transition: all 200ms;
  will-change: transform;
}
.emoji-dropdown .emoji-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.emoji-dropdown .emoji-container {
  display: none;
  padding: 0.5em 0 0.5em 0.5em;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  top: 2em;
  background: white;
  left: -270px;
  width: 300px;
  height: 200px;
  overflow: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}
.emoji-dropdown .emoji-container::-webkit-scrollbar {
  display: none;
}
.emoji-dropdown .emoji-container .emoji {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  margin: 0.1em;
  transition: all 200ms;
  will-change: transform;
  cursor: pointer;
}
.emoji-dropdown .emoji-container .emoji:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
